<div class="container p-5 mobile-p-3">
  <div class="row justify-content-center">
    <img src="../../../assets/Images/logo.png" />
  </div>
  <div class="row my-3">
    <h4 class="col-md-12 text-center m-0 fs18">FORGOT PASSWORD</h4>
    <p class="col-md-12 text-center clr2 m-0">You can change your password now.</p>
  </div>
  <form [formGroup]="changePwdForm" class="pwd-form">
    <div class="row justify-content-center">

      <div class="col-sm-12 col-md-8 m-3 text-left justify-content-center d-flex">
        <label class="dsp-inb w120px align-top">OTP</label>
        <div class="w60 dsp-inb">
          <input formControlName="code" type="text" class="w-100 p-1" placeholder="Enter OTP" />
          <div class="form-control-feedback invalid-feedback" [hidden]="!changePwdForm.controls['code'].touched">
            <span *ngIf="changePwdForm.controls['code'].hasError('required')">Please input OTP</span>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-8 m-3 text-left justify-content-center d-flex">
        <label class="dsp-inb w120px align-top">New Password</label>
        <div class="w60 dsp-inb">
          <input formControlName="newPassword" type="password" class="w-100 p-1" placeholder="Enter new password" />
          <div class="form-control-feedback invalid-feedback" [hidden]="!changePwdForm.controls['newPassword'].touched">
            <span *ngIf="changePwdForm.controls['newPassword'].hasError('required')">Please input your new password</span>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-8 m-3 text-left justify-content-center d-flex">
        <label class="dsp-inb w120px align-top">Confirm Password</label>
        <div class="w60 dsp-inb">
          <input formControlName="rePassword" type="password" class="w-100 p-1" placeholder="Re-enter new password" />
          <div class="form-control-feedback invalid-feedback" *ngIf="changePwdForm.controls['rePassword'].touched">
            <span *ngIf="changePwdForm.controls['rePassword'].hasError('required')">Please re-input your new password</span>
            <span *ngIf="changePwdForm.controls['rePassword'].hasError('passwordMismatch')">New password and Re-enter password
              mismatch
            </span>
          </div>
        </div>
      </div>

    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-sm-12 col-md-8 text-center">
        <button type="submit" (click)="changeForgotPass(changePwdForm)" class="btn btn-success leader-success-btn w-50" style=" background: #145394">
          {{ loading ? 'Changing...' : 'Change Password' }}
        </button>
      </div>
    </div>
  </form>
</div>