<div class="container p-5 text-center mobile-px-0">
  <div class="row m-0 w-100">
    <div class="col-md-12 col-sm-12 p-0">
      <h1 class="clr5 ls-3 mb-3">Congratulations!</h1>
      <p class="px-5 mobile-p-0">Your profile has been submitted for approval. It will get activated within 4 days.</p>
    </div>
    <div class="col-md-12 col-sm-12 mt-5">
      <p>for any queries mail us to</p>
      <a class="fs18 clr5 contact-link" href="mailto:contact@hamarenetaji.com">contact@hamarenetaji.com</a>
    </div>
  </div>
</div>