<div class="w-100 clr4 fs12px mt-5">
  <p class="m-3"><b>Disclaimer:</b> The primary source for the collection of data used in hamarenetaji.com is the data available
    at different sources of public domain and we tried our best to authenticate the details from the individual concerned
    before publishing it on our portal. Due to processing of Sheer volume of data that has to be taken from different source
    of information throughout the globe, makes it quite difficult for us to ensure accuracy of every bit of data. Therefore,
    we appeal to the distinguished visitor that if you notice any discrepancies between real information and the data available
    on hamarenetaji.com, kindly let us know and we will fix it on our end as soon as possible. We apologize for any discrepancy
    or hurting of sentiments caused due to any human error.</p>
</div>

<div class="w-100 p-4 footer mt-3">
  <div class="row">
    <div class="w-100">
      <ul class="footer-menu p-0 m-0 text-center">
        <li>
          <a href="#">Privacy Policy</a>
        </li>
        <li>
          <a href="#">Terms & Conditions</a>
        </li>
        <li>
          <a href="#">FAQ's</a>
        </li>
        <li>
          <a href="#">Advertise with us</a>
        </li>
        <li>
          <a href="#">Premium Subscription</a>
        </li>
        <li>
          <a href="#">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row m-0">
    <div class="w-100 copyright">
      <p class="col-xs-12 col-sm-12 col-md-6 text-left dsp-inb" style="font-size: 14px;">All Copyright reserved @HamareNetaji.com</p>
      <p class="col-xs-12 col-sm-12 col-md-6 text-md-right dsp-inb" style="font-size: 14px;">A division of LGC India</p>
    </div>
  </div>
</div>